@import "config";

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .nav-items {
    display: flex;

    list-style: none;
    gap: 2rem;
    z-index: 100;

    .nav-link {
      //   color: $white;
      text-decoration: none;
    }

    .nav-button {
      padding: 1rem 1.5rem;
      border-radius: 100vw;
      font-family: "Fraunces", serif;
      text-transform: uppercase;
    }
  }

  .hamburger {
    border: none;
    outline: none;
    padding: 0;
    color: transparent;

    .bar {
      width: 24px;
      height: 3px;
      background-color: $white;
      margin-bottom: 3px;

      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &:nth-of-type(3) {
        margin-bottom: 0;
      }
    }
  }

  .hamburger.active {
    .bar:nth-of-type(1) {
      transform: translateY(6px) rotate(45deg);
    }

    .bar:nth-of-type(3) {
      transform: translateY(-6px) rotate(-45deg);
    }

    .bar:nth-of-type(2) {
      transform: translateX(-20px);
      opacity: 0;
    }
  }
}

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 7rem;

  .hero-text {
    font-size: 3.2rem;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    animation: slideUp 0.5s ease-in 0 1;
  }

  .hero-arrow {
    width: fit-content;
    margin: 2rem auto 0;
    transition: transform 0.5s ease-out;

    &:hover {
      transform: translateY(1.5rem);
    }
  }
}

// Large Screens
@media (min-width: 700px) {
  .hero {
    background-image: url(../images/desktop/image-header.jpg);
  }

  .hamburger {
    display: none;
  }

  .nav-items {
    display: flex;
    flex-direction: row;

    .nav-link {
      color: $white;
    }

    .nav-button {
      background-color: $white;
      color: black;

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.3);
        color: $white;
      }
    }
  }
}

// Small Screens
@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hero {
    background-image: url(../images/mobile/image-header.jpg);

    .hero-text {
      font-size: 4rem;
    }
  }

  .nav-items {
    flex-direction: column;
    position: absolute;
    align-items: center;
    right: 5px;
    top: 2rem;
    padding: 3.2rem 4rem 2rem;
    background-color: $white;
    transform-origin: 100% 0%;
    transform: scale(0);
    clip-path: polygon(0 10%, 92% 10%, 100% 0, 100% 100%, 0 100%);

    .nav-link {
      color: $dark-grayish-blue;
    }
    .nav-button {
      background-color: $yellow;
      color: black;
    }

    &.active {
      transition: transform 0.3s ease-in;
      transform: scale(1);
    }
  }
}

// Services Section
.service {
  display: grid;
  place-items: center;

  .service__link {
    text-decoration: none;
    color: $very-dark-grayish-blue;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: -3px;

      content: " ";
      height: 7px;
      width: calc(100% + 4px);
      z-index: -1;
      border-radius: 100vw;
      opacity: 0.3;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &:first-of-type .service__link::after {
    background-color: $yellow;
  }

  &:nth-of-type(2) .service__link::after {
    background-color: $soft-red;
  }
}

.service__header {
  line-height: 1;
  color: $very-dark-grayish-blue;
  padding-bottom: 2rem;
}

.service__body {
  color: $dark-grayish-blue;
  padding-bottom: 2rem;
}

// large screens
@media screen and (min-width: 700px) {
  .service {
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
  }

  .service:nth-child(odd) {
    .service__image {
      order: 2;
    }
  }

  .service__content {
    padding: 0rem 3rem;
  }

  .service__header {
    font-size: 2rem;
    font-weight: 900;
  }
}

// small screens
@media screen and (max-width: 700px) {
  .service {
    flex-direction: column;
    text-align: center;
  }

  .service__content {
    padding: 3rem 2rem;
  }

  .service__header {
    font-size: 2.7rem;
  }
}

// Projects section

#projects {
  display: grid;
}

@media screen and (min-width: 700px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project {
  position: relative;
  display: grid;
  grid-template: "container";
  // place-content: center;
  place-items: end;
}

.project > * {
  grid-area: container;
}

.project__content {
  text-align: center;
  // margin-bottom: 4rem;
  padding-inline: 4rem;

  .project__header {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .project__body {
    margin-bottom: 3rem;
  }
}

#graphic-design {
  color: $dark-moderate-cyan;
}

#photography {
  color: $dark-blue;
}

// Testimonial section

.testimonial__header {
  text-align: center;
  letter-spacing: 3px;
  color: $grayish-blue;
  margin-top: 4rem;
}

.testimonials__cards {
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.testimonial__card {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .client__image img {
    border-radius: 100vw;
    width: 6em;
    margin-bottom: 2rem;
  }

  .client__testimony {
    color: $dark-blue;
    margin-bottom: 2rem;
    line-height: 1.9;
  }

  .client__name {
    font-weight: 900;
    color: $very-dark-desaturated-blue;
    margin-bottom: 0.5em;
  }

  .client__role {
    color: $grayish-blue;
    font-size: 0.875rem;
  }
}

.gallery {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

footer {
  background-color: $dark-moderate-cyan;
  display: flex;
  // align-items: center;
  flex-direction: column;
  padding-top: 4rem;

  .footer__logo {
    margin-inline: auto;
    margin-bottom: 1rem;
    svg {
      fill: $dark-saturated-cyan;
    }
  }

  .footer__nav {
    margin-bottom: 3rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        color: $dark-saturated-cyan;
      }
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 700px) {
  footer {
    .footer__nav {
      ul {
        justify-content: center;
        gap: 4rem;
      }
    }
  }
}
